<template lang="pug">
v-container
  v-form
    v-container
      v-row
        //- 專案分類
        v-col(cols="3")
          v-select(v-model="type" :items="typeList"  item-text="name" label="分類")
        //- 專案名稱
        v-col
          v-select(v-model="selected" :items="projectList" return-object item-text="name" label="專案" :disabled='!projectList.length')
            template(#item="{ item,on }")
              v-list-item( v-on="on" color="primary" :input-value="selected === item.id")
                v-list-item-content
                  v-list-item-title {{item.name}}
                    v-chip.ml-2(x-small) {{item.tag}}
                  v-list-item-subtitle {{item.description}}
        //- 時間選擇
        v-col(cols="12" md="4")
          v-menu(
            v-model="isDatePicker"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          )
            template(#activator="{ on }")
              v-text-field(v-model="displaySearchDateText" prepend-icon="event" readonly v-on="on" label="查詢區間")
            v-date-picker(v-model="searchDate" range no-title @input="searchDate.length===2 && (isDatePicker = false)")
      v-row(v-if="selected.branches")
        v-col(cols="10" :md="selected.branches.length > 1 ? '5' : '11'" align-self="center")
          v-select(
            label="主要分支"
            v-model="main.branch"
            :items="selected.branches"
            :disabled="!selected.branches"
          )
            template(#item="{ item,on }")
                v-list-item( v-on="on"  :disabled="sub.branch === item" )
                  v-list-item-content
                    v-list-item-title {{item}}
        v-col.d-flex.align-center(cols="2" md="1" v-if="selected.branches.length>1")
          v-tooltip(bottom)
            template(#activator="{ on }")
              v-btn(icon color="success" @click.stop="exchangeBranch" :disabled="!main.branch && !sub.branch" v-on="on")
                v-icon sync_alt
            span 對調 (會重置已選取的分支)
        v-col(cols="10" md="5" align-self="center" v-if="selected.branches.length>1")
          v-select(
            label="參考分支"
              v-model="sub.branch"
              :items="selected.branches"
              :disabled='!selected.branches'
              )
            template(#item="{ item,on }")
              v-list-item( v-on="on"  :disabled="main.branch === item" )
                v-list-item-content
                  v-list-item-title {{ item }}
        v-col.d-flex.align-center(cols="2" md="1")
          v-tooltip(bottom)
            template(#activator="{ on }")
              v-btn(icon color="success" @click.stop="getAllCommitList" :disabled="disabled.branch" v-on="on")
                v-icon mdi-cached
            span 重新整理
        v-col(cols="2" v-if="main.commits.length || sub.commits.length")
          v-switch(:disabled="!(main.commits.length && sub.commits.length)" v-model="compare.available" label="比較分支")
      //- 列表部分
      v-row
        //- 比較
        v-col(cols="12" v-if="compare.available")
            v-list.custom-height
              v-list-item-group(v-model="compare.selected" multiple color="primary")
                template(v-for="(item, index) of compare.commits")
                  v-list-item
                    v-list-item-content
                        v-list-item-title {{item.title}}
                        v-list-item-subtitle.pt-2 {{ item.author }} - {{ item.date | date }}
                    v-chip(label :color="compare.selected.indexOf(index) >= 0 ? 'primary' : ''")
                      | {{ item.commit }}
                      span.ml-3 {{ compare.selected.indexOf(index) >= 0 ? compare.selected.indexOf(index) + 1 : '+' }}
                  v-divider
        template(v-else-if="selected.branches")
          //- 主要
          v-col(cols="5")
            v-list.custom-height
              v-list-item-group(v-model="main.selected" multiple color="primary")
                template(v-for="(item, index) of main.commits")
                  v-list-item
                    v-list-item-content
                        v-list-item-title {{ item.title }}
                        v-list-item-subtitle.pt-2 {{item.author}} - {{item.date | date}}
                    v-chip(label :color="main.selected.indexOf(index) >= 0 ? 'primary' : ''")
                      | {{item.commit}}
                      span.ml-3 {{ main.selected.indexOf(index) >= 0 ? main.selected.indexOf(index) + 1 : '+' }}
                  v-divider
          v-col(cols="1")
          //- 參考
          v-col(cols="5")
            v-list.custom-height
              template(v-for="(item, index) of sub.commits")
                v-list-item
                  v-list-item-content
                      v-list-item-title {{ item.title }}
                      v-list-item-subtitle.pt-2 {{item.author}} - {{item.date | date}}
                  v-chip(label) {{item.commit}}
                v-divider
          v-col(cols="1")
      v-row
        v-btn.justify-space-between.mt-5.py-2.grey.lighten-2.px-5(
          v-clipboard:copy="cherryPickString"
          v-clipboard:success="()=>{ isCopyed=true }"
          color="primary"
          :disabled="cherryPickString === 'git cherry-pick '"
          block
          left
        )
          span {{ cherryPickString }}
          v-icon(right) mdi-content-copy
  v-snackbar(v-model="isCopyed" color="success" bottom :timeout="1000") copy success

</template>
<script>
import repoService from '@/service/repo'
import { mapActions, mapState } from 'vuex'
import dayjs from 'dayjs'

export default {
  name: 'search',

  filters: {
    date (val) {
      return dayjs(val).format('YYYY/MM/DD')
    },
  },

  data: () => ({
    isDatePicker: false,
    searchDate: [dayjs().subtract(90, 'day').format('YYYY-MM-DD'), dayjs().format('YYYY-MM-DD')],
    selected: {},
    main: {
      branch: '',
      commits: [],
      selected: [],
    },
    sub: {
      branch: '',
      commits: [],
      selected: [],
    },

    compare: {
      available: false,
      commits: [],
      selected: [],
    },

    type: 'group',
    typeList: ['all', 'user', 'group'],

    disabled: {
      project: true,
      branch: true,
    },
    cherryPickString: 'git cherry-pick ',
    isCopyed: false,
    unMergedCommits: null,
  }),
  computed: {
    ...mapState([
      'project',
    ]),

    displaySearchDateText () {
      return this.searchDate.join(' ~ ')
    },

    projectList () {
      let result = []
      const { groupList, userList } = this.project
      switch (this.type) {
        case 'all':
          result = [groupList, userList].flat()
          break
        case 'user':
          result = userList.slice()
          break
        case 'group':
          result = groupList.slice()
          break
      }
      return result
    },
  },

  watch: {
    projectList (list) {
      if (this.selected === {} || !list.length) return
      const item = list.find(({ id }) => id === this.selected.id)
      if (list.find(({ id }) => id === this.selected.id)) this.selected = item
    },

    async type (type) {
      if (type !== this.$route.params.type) this.$router.push({ params: { type } })
      await this.getProjectList(type)
      this.disabled.project = false
    },

    async selected ({ id, tag, branches }) {
      if (id && id !== parseInt(this.$route.params.project)) this.$router.push({ params: { project: id } })
      await this.getProjectBranch({ project: id, tag })
      this.initSelectBranch()
      this.disabled.branch = false
    },

    'compare.selected' () {
      this.setCherryPickString('compare')
    },

    'main.selected' () {
      this.setCherryPickString('main')
    },

    'compare.available' (bool) {
      this.clearSelctedCommits('all')
      this.compareCommits()
    },
    'main.branch' (val) {
      this.compare.available = false
      val && this.getCommitList('main')
    },
    'sub.branch' (val) {
      this.compare.available = false
      val && this.getCommitList('sub')
    },
    searchDate (val) {
      if (val.length !== 2) return
      if (this.main.branch || this.sub.branch) this.getAllCommitList()
    },
  },

  mounted () {
    const { type, project } = this.$route.params
    if (this.typeList.includes(type)) this.type = type

    const routingProject = this.projectList.find(({ id }) => id === parseInt(project))
    if (routingProject) this.selected = routingProject
    else if (project) this.selected.id = parseInt(project)
    this.getProjectList(this.type)
  },

  methods: {
    ...mapActions([
      'getProjectList',
      'getProjectBranch',
    ]),
    getAllCommitList () {
      for (const target of ['main', 'sub']) {
        this.getCommitList(target)
      }
    },
    async getCommitList (target) {
      const targetList = ['main', 'sub']
      if (!targetList.includes(target)) return
      await repoService.commits({ project: this.selected.id, branch: this[target].branch, time: this.searchDate })
        .then(res => {
          this[target].commits = res
            .map(({ short_id: commit, created_at: date, title, message, author_name: author, web_url: link }) =>
              ({ commit, date, title, message, author, link, active: false }))
        })
    },

    async fetchProject () {
      if (this.disabled.project) return
      this.disabled.project = true
      await this.getProjectList({ type: this.type, isForce: true })
      this.disabled.project = false
    },

    async fetchBranch () {
      if (this.disabled.branch) return
      this.disabled.branch = true
      const { id, tag } = this.selected
      await this.getProjectBranch({ project: id, tag, isForce: true })
      this.disabled.branch = false
    },

    exchangeBranch () {
      const main = this.main
      this.main = this.sub
      this.sub = main
    },

    clearSelctedCommits (key) {
      if (key === 'all') {
        this.main.selected = []
        this.compare.selected = []
      } else this[key].selected = []
    },

    setCherryPickString (key) {
      const selectedCommits = this[key].selected.map(selected => this[key].commits.find((_, index) => index === selected)?.commit)
      const commitString = selectedCommits.join(' ')
      this.cherryPickString = `git cherry-pick ${commitString}`
    },

    initSelectBranch () {
      for (const item of ['main', 'sub']) this[item] = { branch: '', commits: [], selected: [] }
      this.compare.commits = []
    },

    clearSelectedCommit () {
      this.cherryPickString = 'git cherry-pick '
    },

    compareCommits () {
      if (!this.compare.available) return []
      const revertList = []
      const revertRegex = new RegExp(/Revert "(.*)"/)

      const result = this.main.commits
        .filter(main => {
          if (revertList.includes(main.title.trim())) return false

          const revertCommit = main.title.match(revertRegex)
          if (revertCommit) {
            revertList.push(revertCommit[1])
            return false
          }

          const found = this.sub.commits.find(sub => sub.title.trim() === main.title.trim() && sub.author === main.author)
          if (!found && !/(qa\d+\.\d+.\d+|v\d+\.\d+.\d+)/.test(main.message)) return main
        })
      this.compare.commits = result
    },
  },
}
</script>
<style lang="scss">
.custom-height{
  max-height: 500px;
  overflow-Y: auto;
}
</style>
