<template lang="pug">
v-container.mx-3
  v-row
    v-col(cols='12' md="2")
      v-select(v-model="input.type" :items="typeList" label="分類")
    v-col(cols="12" md="3" lg="4")
      v-text-field(label="ID或路徑" v-model="input.id" required hide-details="auto" hint="路徑範例:cqbw_generic/web-frontend" persistent-hint)
    v-col(cols="12" md="4")
      v-text-field(label="備註" v-model="input.note")
    v-col.align-center.d-flex
      v-btn(color="primary" :disabled="isAddBtnDisabled" @click="addID") 新增 ID/PATH
  v-row
    v-btn(color="info" v-clipboard:copy="JSON.stringify(id)" v-clipboard:success="()=>{ $message('copied') }") 複製 IDs
  v-row
    v-data-table.col-12(:headers="table.id.headers" :items="id.user")
      template(#top)
        v-toolbar(flat)
          v-toolbar-title User ID List
          v-spacer
          v-btn.mr-3(color="info" v-clipboard:copy="JSON.stringify(id.user)" v-clipboard:success="()=>{ $message('copied') }") 複製 User IDs
          v-btn(color="error" :disabled="!id.user.length" @click="deleteItem(null, 'user')") 刪除全部
      template(#item.delete="{item}")
        v-hover(#default="{hover}")
          v-icon(@click="deleteItem(item,'user')" :color="hover?'error':''") mdi-delete
    v-data-table.col-12(:headers="table.id.headers" :items="id.group")
      template(#top)
        v-toolbar(flat)
          v-toolbar-title Group ID List
          v-spacer
          v-btn.mr-3(color="info" v-clipboard:copy="JSON.stringify(id.group)" v-clipboard:success="()=>{ $message('copied') }") 複製 Group IDs
          v-btn(color="error" :disabled="!id.group.length" @click="deleteItem(null, 'group')") 刪除全部
      template(#item.delete="{item}")
        v-hover(#default="{hover}")
          v-icon(@click="deleteItem(item,'group')" :color="hover?'error':''") mdi-delete
</template>
<script>
import storage from '@/utils/storage'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ids-manager',
  data: vm => ({
    isDatePicker: false,
    typeList: ['user', 'group'],
    input: {
      id: '',
      type: 'user',
      date: vm.$dayjs().format('YYYY-MM-DD'),
      note: '',
    },
    list: {
      group: [],
      user: [],
    },
    table: {
      id: {
        headers: [
          { text: 'ID / Name', value: 'id' },
          { text: '備註', value: 'note', sortable: false },
          { text: '新增日期', value: 'createDate', sortable: false },
          { text: '刪除', value: 'delete', sortable: false },
        ],
      },
    },
  }),
  computed: {
    ...mapState({
      id: state => state.ids.id,
    }),
    isAddBtnDisabled () {
      return !this.input.id
    },
    formatInputDate () {
      return this.$dayjs(this.input.date).format('YYYY/MM/DD')
    },
  },
  watch: {
    id: {
      deep: true,
      handler (val) {
        storage.local.set('ids', val)
      },
    },
  },
  methods: {
    ...mapActions('ids', ['updateIdList']),

    allowDate (val) {
      return this.$dayjs(val).valueOf() > this.$dayjs().valueOf()
    },

    getIDList () {
      if (!storage.local.get('ids')) return
      this.list = storage.local.get('ids')
    },

    addID () {
      this.updateIdList(this.input)
        .then(() => {
          this.clearInput()
        }).catch(() => {
          this.$message('重複ID')
        })
    },

    clearInput () {
      this.input.id = ''
      this.input.note = ''
    },

    deleteItem (item, type) {
      const cloneIdList = JSON.parse(JSON.stringify(this.id))
      if (!item) cloneIdList[type] = []
      else cloneIdList[type] = cloneIdList[type].filter(node => node.id !== item.id)
      this.$store.commit('ids/setIdList', cloneIdList)
    },
  },
}
</script>
