<template lang="pug">
v-container.mx-3
  v-row
    v-col(cols='12' md="3")
      v-text-field(label="PRIVATE TOKEN" v-model="input.token" required hide-details="auto" persistent-hint)
    v-col(cols="12" md="4")
      v-text-field(label="名稱標籤 / 備註" v-model="input.note")
    //- v-col(cols="12" md="2")
    //-   v-menu(
    //-     v-model="isDatePicker"
    //-     :close-on-content-click="false"
    //-     transition="scale-transition"
    //-     offset-y
    //-     max-width="290px"
    //-     min-width="290px"
    //-   )
    //-     template(#activator="{ on }")
    //-       v-text-field(v-model="formatInputDate" prepend-icon="event" readonly v-on="on" label="Token失效日期 ")
    //-     v-date-picker(v-model="input.date" no-title @input="isDatePicker = false" :min="$dayjs().format('YYYY-MM-DD')")
    v-col.align-center.d-flex
      v-btn(color="primary" :disabled="isAddBtnDisabled" @click="addToken") 新增 TOKEN
  v-row
    v-data-table.col-12(v-model="active" :headers="headers" :items="token.list" item-key="token" single-select show-select)
      template(#top)
        v-toolbar(flat)
          v-toolbar-title TOKEN List
          v-spacer
      template(#item.delete="{item}")
        v-hover(#default="{hover}")
          v-icon(@click.stopa="deleteItem(item)" :color="hover?'error':''") mdi-delete
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'manager-token',
  data: vm => ({
    active: [vm.$store.state.tokenModule.active],
    isDatePicker: false,
    input: {
      token: '',
      note: '',
    },
    headers: [
      { text: 'TOKEN', value: 'token' },
      { text: '備註', value: 'note', sortable: false },
      { text: '過期日期', value: 'date' },
      { text: '新增日期', value: 'createDate' },
      { text: '刪除', value: 'delete', sortable: false },
    ],
    table: [],
  }),
  computed: {
    ...mapState({
      token: state => state.tokenModule,
    }),
    formatInputDate () {
      return this.$dayjs(this.input.data).format('YYYY/MM/DD')
    },
    isAddBtnDisabled () {
      return !this.input.token
    },
  },
  watch: {
    active (arr) {
      if (arr[0].token !== this.token.active.token) this.updateActive(arr[0])
    },
  },
  methods: {
    ...mapActions('tokenModule', ['updateList', 'updateActive']),
    addToken () {
      this.updateList(this.input)
        .then(() => {
          this.clearInput()
        })
        .catch(() => {
          this.$message('重複TOKEN')
        })
    },
    deleteItem (item) {
      let cloneTokenList = JSON.parse(JSON.stringify(this.token.list))

      if (!item) cloneTokenList = []
      else cloneTokenList = cloneTokenList.filter(node => node.token !== item.token)

      if (!item) this.updateActive({})
      this.$store.commit('tokenModule/setTokenList', cloneTokenList)

      const isActiveToken = item && item.token === this.token.active.token
      if (isActiveToken) this.active = [cloneTokenList[0]]
    },
    clearInput () {
      this.input = {
        token: '',
        note: '',
        date: this.$dayjs().format('YYYY-MM-DD'),
      }
    },
  },
}
</script>
