<template lang="pug">
  v-navigation-drawer(permanent clipped app)
    v-list-item
      v-list-item-content
        v-list-item-title.title {{ activeToken.token }}
        v-list-item-subtitle {{ activeToken.note }}
    v-divider
    v-list
      template(v-for="item of list")
        v-list-group(v-if="item.group" :prepend-icon="item.icon" no-action)
          template(#activator)
            v-list-item-content
              v-list-item-title {{item.title}}
              v-list-item-subtitle {{item.subtitle}}
          v-list-item(v-for="group of item.group" :key="group.title" :link="!!group.to" :to="group.to")
            v-list-item-content
              v-list-item-title {{group.title}}
        template(v-else)
          v-list-item(:link="!!item.to" :to="item.to" color="primary")
            v-list-item-action
                v-icon {{item.icon}}
            v-list-item-content
              v-list-item-title {{item.title}}
              v-list-item-subtitle(v-if="item.subtitle") {{item.subtitle}}
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'custom-nav',
  data: () => ({
    item: [],
    list: [
      {
        title: '使用說明',
        to: { name: 'instruction' },
      },
      {
        icon: 'mdi-call-merge',
        title: '剪分支工具',
        subtitle: 'cherry-pick support',

        to: { name: 'cherry-pick' },
      },
      {
        icon: 'settings',
        title: '設定',
        subtitle: 'settings',
        group: [
          {
            title: '管理 ID',
            to: { name: 'setting-ids' },
          },
          {
            title: '管理 TOKEN',
            to: { name: 'setting-token' },
          },
        ],
      },
      {
        title: '預定項目',
        to: { name: 'note' },
      },
    ],
  }),
  computed: {
    ...mapState({
      activeToken: state => state.tokenModule.active,
    }),
  },
}
</script>
