<template lang="pug">
  router-view
</template>

<script>
import layoutDefault from './layout/default'
export default {
  name: 'App',
  components: {
    layoutDefault,
  },
  data: () => ({
  }),
}
</script>
