<template lang="pug">
v-snackbar(
  v-model="visiable"
  :timeout="timeout"
  :top="position.X === 'top'"
  :bottom="position.X === 'bottom'"
  :left="position.Y === 'left'"
  :right="position.Y === 'right'"
  :color="type"
) {{text}}
</template>

<script>
export default {
  props: {
    text: String,
    position: {
      type: Object,
      default: () => ({
        X: 'top',
      }),
    },
    timeout: {
      type: Number,
      default: 2000,
    },
    type: String,
  },
  data: () => ({
    visiable: false,
  }),
  created () {
    this.visiable = true
  },
  destroyed () {
    this.$el.parentNode.removeChild(this.$el)
  },
}
</script>
