<template lang="pug">
v-app(dark)
  layout-default(v-if="!$route.meta.layout || $route.meta.layout === 'default' ")
    router-view
</template>
<script>
import layoutDefault from './default'

export default {
  components: {
    layoutDefault,
  },
}
</script>
